<h3>Заказ из Music Shop отправлен</h3>
<p>
  Это сообщение уведомляет Вас, что мы отправили ваш недавний заказ:
</p>
<table>
  <tr><th colspan="2">К-во</th><th>Описание</th></tr>
  <%= render @line_items -%>
</table>