<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>
  <td><%= line_item.product.title %></td>
  <td><span class="price"><%= line_item.quantity %></span></td>
  <td><span class="price"><%= number_to_currency(line_item.product.price) %></span></td>
  <td><span class="price"><%= number_to_currency(line_item.total_price) %></span></td>
</tr>